@font-face {
  font-family: "font";
  src: url("april_fool.ttf");
}

.mainDiv {
  background-color: #d0bdc0;
  width: 380px;
  height: auto;
  padding: 10px 0 0 10px;
  border-bottom: 5px solid #000;
}

p {
  display: inline;
}

.orderNow {
  width: 100px;
  height: 85px;
  margin-left: 8em;
  margin-top: -4em;
  background-color: green;
  position: absolute;
  /* margin: 3em; */
  display: none;
  color: white;
  text-align: center;
  font-family: "font";
  font-size: 29px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 79%,
    74% 80%,
    32% 100%,
    34% 80%,
    0 80%
  );
  animation: scale 2s infinite ease-in-out;
}
@keyframes scale {
  to {
    transform: scale(1.5);
  }
}
.weAreBusy {
  width: 100px;
  height: 85px;
  margin-left: 8em;
  margin-top: -4em;
  background-color: red;
  position: absolute;
  display: none;
  color: white;
  text-align: center;
  font-family: "font";
  font-size: 29px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 79%,
    74% 80%,
    32% 100%,
    34% 80%,
    0 80%
  );
  animation: shake 3s infinite ease-out;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.peopleNumber {
  font-family: "font";
  font-size: 2em;
}
h1 {
  font-family: "font";
  margin: 1em;
}
.show {
  display: block;
}
.trans {
  transition: height 2s ease-in-out;
}
