@font-face {
  font-family: 'font';
  src: url("april_fool.ttf");
}

.mainDiv {
  background-color: #d0bdc0;
  width: 300px;
  height: 300px;
}

p {
  display: inline;
}

.orderNow {
  width: 100px;
  height: 70px;
  /* background-color: white; */
  position: absolute;
  margin: 3em;
  display: none;
  color: red;
  font-family: 'font';
  font-size: 30px;

}

.peopleNumber {
  font-family: 'font';
  font-size: 2em;
}

h1 {
  font-family: 'font';
}

.show {
  display: block;
}

.trans {
  transition: height 2s ease-in-out;
}